##### Level 2 commands. That will be launched only after a sucessful layer 1 launch.
### For cluster discovery
## 
# 
define command {
    command_name    hacmp_discovery
    command_line    $PLUGINSDIR$/discovery/cluster_discovery_runner.py -H $HOSTNAME$ -C $SNMPCOMMUNITYREAD$ -O aix
}

define discoveryrun {
        discoveryrun_name       hacmp
        discoveryrun_command    hacmp_discovery!$_HOSTOS$
        os                      ^aix$
}

#os is returned by the nmap discovery script
define discoveryrule {
       discoveryrule_name       HACMP
       creation_type            host
       os		        ^aix$
       hacmp                    1
       +use                     HACMP
}
